@import '../../config_colors.scss'; 

.post-heading-div{
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    flex-direction: column;
    background-color: $heading_color;
    color: white;
    width: 100%;
    height: 20%;
    padding: 3rem 0;
    margin-bottom: 1rem;

    .my-portal{
        margin: 0;
    }
    .headline{
        margin: 0;
        padding-top: 1rem;
    }
}

.custom-nav-links{
    color:$heading_color;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    
    .links{
        display: inline;
        padding-right: 1.5rem;
        font-weight: 600;
        font-size: 1.5rem;
        // display: block;

        &:hover{
            cursor: pointer;
            color:$heading_color;
            //margin-bottom: rem;
            border-bottom: 2px solid $heading_color;
        }
    }

    .globalClass{
            color:$heading_color;
            //margin-bottom: rem;
            border-bottom: 2px solid $heading_color;
    }

    .localClass{
        color:$heading_color;
        //margin-bottom: rem;
        border-bottom: 2px solid $heading_color;
}
}