@import '../../config_colors.scss';

.profile-header{
        background-color: #f3f3f3;
        padding: 3rem 3rem;

        .profile-header-content{
            display: flex;
            justify-content: center;
            vertical-align: middle;
            align-items: center;
            flex-direction: column;

        }
        .button{
            display: flex;
            flex-direction: row-reverse;
        }
    }

    .custom-nav-links{
        color:$heading_color;
        list-style-type: none;
        overflow: hidden;
        margin: 0;
        padding: 0;
        
        .links{
            display: inline;
            padding-right: 1.5rem;
            font-weight: 600;
            font-size: 1.5rem;
            // display: block;
    
            &:hover{
                cursor: pointer;
                color:$heading_color;
                //margin-bottom: rem;
                border-bottom: 2px solid $heading_color;
            }
        }
    
        .myFeed{
                color:$heading_color;
                //margin-bottom: rem;
                border-bottom: 2px solid $heading_color;
        }
    
        .favArticles{
            color:$heading_color;
            //margin-bottom: rem;
            border-bottom: 2px solid $heading_color;
    }
    }