@import '../../config_colors.scss';

.profile-header{
        background-color: #f3f3f3;
        display: flex;
        justify-content: center;
        vertical-align: middle;
        align-items: center;
        flex-direction: column;
        height: 15rem;
    }