@import '../../config_colors.scss'; 

.article-heading-div{
    display: flex;
    flex-direction: column;
    background-color: #333;;
    color: white;
    width: 100%;
    height: 20%;
    padding: 3rem 1rem;
    margin-bottom: 1rem;

    .article-name{
        margin: 0;
    }
    
    .article-author{
        margin-right: 1rem;
    }

    .btn{
        margin-left: 1rem;
        padding: 0 0.75rem;
        height: 2rem;
        text-align: center;
    }
    .btn-unfollow{
        background-color: lightgray;
        color:black;
        border:1px solid lightgray;
    }

    .btn-follow{
        background-color: transparent;
        color:white;
        border:1px solid lightgray;
    }

    .edit-btn{
        background-color: transparent;
        color:lightgray;
        border:1px solid lightgray;

        &:hover{
            background-color:lightgray;
            color:black;
        }
    }

    .del-btn{
        background-color: transparent;
        color: lightcoral;
        border:1px solid lightcoral;

        &:hover{
            background-color:lightcoral;
            color:white;
        }
    }

    .btn-fav{
        background-color: $heading_color;
        color:white;
        border:1px solid $heading_color;
    }

    .btn-unfav{
        background-color: transparent;
        color:white;
        border:1px solid $heading_color;
    }
}

.comment-section{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .redirect-link{
        color: $heading_color;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
            color: #449d44 !important;
        }
    }
}