@import '../../config_colors.scss'; 

.portal-header, .portal-header-one{
    font-family:titillium web,sans-serif;
    color:$heading_color;
    padding: 1rem 2rem;
    display:flex;
    font-weight: 600;
    font-size: 2rem;

    .portal-link{
        flex-basis: 68%;

        .main-link{
            color:$heading_color;
            text-decoration: none;        
        }
    }

    .options{
        flex-basis: 32%;


        .option-links{
            font-size: 1rem;
            color: $header_links;
            padding: 0 0.5rem;
            text-decoration: none;

            &:active, &:hover{
                color:$dark_color;
            }
        }
    }
}

.portal-header-one{
    .portal-link{
        flex-basis: 85%;
    }

    .options{
        flex-basis: 15%;
    }

}

@media screen and (max-width: 480px) {
    .portal-header, .portal-header-one{
        display:flex;
        flex-direction: column;


        .portal-link{
            flex-basis: 100%;
        }
    
        .options{
            flex-basis: 100%;
            display: flex;
            flex-direction: column;
       }
    }
}