@import '../../config_colors.scss';

.article-card{
    margin-top: 1rem;
    padding:1rem 1rem;
    display: flex;
    
    .fav-btn{
        background-color: $heading-color;
    }

    .not-fav-btn{
        border: 1px solid $heading-color;
        background-color: white;
        color: $heading-color;
        width: 2.5rem;
    }
    
    .article-title{
        color:black;
        text-decoration: none;
    }

    .article-desc{
        color:lightgrey;
    }

    .read-more{
        color:lightgrey;
        text-decoration: none;
    }
}